// Color schema
$colschema-album: #ffa069;
$colschema-single: #488dff;
$colschema-compilation: #c580ff;
$colschema-highlight: orange;

$search-result-active-color: $colschema-highlight;
$search-result-inactive-color: rgba(95, 95, 95, 0.6);

$badge-market-color: #efefef;
$badge-active-color: $colschema-highlight;

// import bootstrap variables
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
