<div>
  <div class="Search">
    <input type="text" [(ng-model)]="q" placeholder="Search spotify" class="form-control Search-query"
           (keyup)="searchFieldKeyHandler($event)" />
    <select name="type" [(ng-model)]="type" class="form-control Search-type">
      <option *ng-for="#type of types" [value]="type.value" [selected]="type.value === type">
        {{ type.label }}
      </option>
    </select>
    <a [router-link]="getRouterLinkConfFromQuery()"
       class="btn btn-default Search-btn" [class.disabled]="q.length === 0">Load results</a>
  </div>

  <div class="SearchResults">
    <table class="table table-striped" *ng-if="results">
      <thead>
      <tr>
        <th>Cover</th>
        <th>Albumtitle</th>
        <th>Reference</th>
      </tr>
      <tbody>
      <tr *ng-for="#item of results.items">
        <td>
          <img [src]="getImageUrl(item.images)" alt="image" />
        </td>
        <td>{{ item.name }}</td>
        <td class="text-center">
          <a [router-link]="getRouterLinkForUri(item.uri)" class="reference">
            <i class="glyphicon glyphicon-chevron-right"></i>
          </a>
        </td>
      </tr>
      </tbody>
      </thead>
    </table>
    <div *ng-if="hasNextPage()" class="text-center">
      <button (click)="loadNextPage()" class="btn btn-default">Next page</button>
    </div>
    <div *ng-if="!results" class="no-results-info">
      <div class="alert alert-info">
        <strong>Info</strong>: No results.
      </div>
    </div>
  </div>
</div>
