<div class="Album">
  <div *ng-if="!result">loading data</div>
  <div *ng-if="result">
    <div class="AlbumMeta">
      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <img [src]="getAlbumCover(300).url" *ng-if="hasAlbumCover()" class="img-responsive"/>
        </div>
        <div class="col-xs-6 col-sm-8">
          <h1 class="headline">{{ result.name }}</h1>
          <span>{{ result.release_date }}</span>
          <ul class="artist">
            <li *ng-for="#artist of result.artists">
              <a href="#">{{ artist.name }}</a>
            </li>
          </ul>
          <ul class="market">
            <li *ng-for="#market of result.available_markets">
              {{ market }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="album">
      <table class="table table-striped" *ng-for="#disk of disks">
        <thead>
        <tr>
          <th colspan="6" class="text-center">Disk #{{ disk }}</th>
        </tr>
        <tr>
          <th class="text-center"><input type="checkbox"
                                         [ng-model]="allTrackItemsChecked(tracksByDisks[disk])"
                                         (click)="toggleAllTrackItems(tracksByDisks[disk])"/></th>
          <th class="text-center">Track number</th>
          <th>Name</th>
          <th class="text-center">Duration</th>
          <th class="text-center">Explicit</th>
          <th class="text-center" *ng-if="anyTrackHasPreview(tracksByDisks[disk])">Preview</th>
        </tr>
        </thead>
        <tbody>
        <tr *ng-for="#item of tracksByDisks[disk]">
          <td class="text-center"><input type="checkbox" [(ng-model)]="item._isChecked" [checked]="item._isChecked" /></td>
          <td class="text-center">{{ item.track_number }}</td>
          <td>{{ item.name }}</td>
          <td class="text-center">{{ item.duration_ms | duration }}</td>
          <td class="text-center"><i class="glyphicon {{ item.explicit ? 'glyphicon-ok' : 'glyphicon-remove'}}"></i></td>
          <td class="text-center" *ng-if="anyTrackHasPreview(tracksByDisks[disk])">
            <a [href]="item.preview_url" target="_blank" *ng-if="item.preview_url !== null">
              <i class="glyphicon glyphicon-music"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <div class="btn-group" role="group">
        <button class="btn btn-default" (click)="downloadCueSheet()">Download CUE sheet</button>
        <button class="btn btn-default" (click)="downloadAlbumCover()">Download album cover</button>
      </div>
    </div>
  </div>
</div>
